@{
    ViewData["Title"] = "Home Page";
}
<body>

</body>
<div class="text-center" >
    <h1 class="display-4"><b>MileStone AMS</b></h1>
    <hr >
    <h3>WHO WE ARE</h3>

    <p>
    A prestigious institution which outshines in all fields for more than three successful decades is our MileStone Institute of Science and Technology. With the blessings of our Founder Chancellor, Col. Dr. Jeppiaar, and under the dynamic leadership of Dr. Mariazeena Johnson, Chancellor , Dr. Marie Johnson, President , Mr.J. Arul Selvan , Ms. Maria Bernadette Tamilarasi Johnson and Ms.Maria Catherine Jayapriya, Vice Presidents our esteemed institution has secured 43rd rank in the NIRF RANKING 2022 and it is ranked among the top 50 universities in the country for the 7th consecutive year.

    MileStone Institute of Science and Technology is offering multi-disciplinary academic programmes in various fields of Engineering, Science, Technology, Law, Architecture, Pharmacy, Nursing, Dental and Management. It is established under Sec.3 of UGC Act, 1956 and has been Accredited with ‘A’ Grade by the nation's prestigious accreditation body, the National Accreditation and Assessment council.

    In the process of serving relentlessly to the society in education sector , institution has received many recognitions and accreditations , attained Deemed University Status in 2001, accreditation with A grade by NAAC, 4 Star Rating by QS – Quacquarelli Symonds (QS), and QS I-Gauge Diamond rating for overall excellence, ranked 351+ among the Asian University by Times Higher Education are notable. MileStone has secured top 5th among the Indian Universities in the recently announced ARIIA 2020 rankings for innovation.

    MileStone has emerged as a leading institution and achieved excellence in higher education to the international standards through 48 Undergraduate Programmes, 22 Postgraduation programmes, Research, Technology Incubation, Product innovation in Science and Technology.
    </p>
</div>
<style>
     body {
        background-image: url("/Images/HomePageBG.jpg");
        background-color: grey;
        background-blend-mode:multiply;
        background-size:cover;
    }

    h1,h3,hr,p{
        color:white;
    }
</style>